/** Core **/
html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body{
  font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #FFF;
  color: #526069;
  line-height: 1.2em;
  font-size: 16px;
}
section {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
}

.section-title{
  font-size: 2rem;
  margin: 30px 0;
  border-bottom: 4px solid #00A876;
  padding: 20px;
  display: inline-block;
}

@media (max-width: 575px) {
  section{
    padding: 20px 0;
  }
  .section-title{
    margin:15px 0;
  }
  section p{
    font-size: 0.875rem;
  }
}
footer{
  color: #b0b0b0;
  background: #262626;
  padding: 20px 0;
}
/** UI **/
.btn{
  border-radius: 0px;
}
.btn-primary {
  color: #fff;
  background-color: #00A876;
  border-color: #00A876;
}

/** Section Main **/
#main{
  background: black url(https://static.segmentfault.com/v-59883fff/app/hackathon-2015/bg.jpg) 50% 50%;
  background-size: cover;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
}
#main h1{
  text-transform: uppercase;
  line-height: 100%;
  margin-bottom: 40px;
  font-size: 80px;
  font-weight:bold;
}
#main h1 span{
  color: #00A876;
}
#main p{
  font-size: 40px;
}
@media (max-width: 767px) {
  #main h1{
    font-size:50px;
  }
  #main p{
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  #main h1{
    font-size:35px;
  }
  #main p{
    font-size: 20px;
  }
}
/** Section Desc **/
#desc img{
  width:100%;
  max-width: 150px;
  margin-bottom: 20px;
}
#desc h3{
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: left;
  color: #00A876;
  font-weight: bold;
}
#desc .action{
  text-align: left;
}
#desc .btn{
  margin-right: 20px;
}
#desc p{
  text-align: left;
}

/** Section Timeline **/
#timeline{
  background: #eeeeee;
}

.timeline{
  list-style: none;
  padding: 0;
  margin: 0;
}
.timeline li{
  display: flex;
}
.timeline time{
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #757575;
}
.timeline span{
  width: 140px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}
.timeline .dot{
  flex: 0 0 auto;
  width: 60px;
  display: flex;
  min-height: 150px;
  position: relative;
}
.timeline .dot:before{
  content: "";
  width: 6px;
  height: 100%;
  background: #00A876;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.timeline .dot:after{
  content: "";
  border: 4px solid #00A876;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #eeeeee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.timeline .content{
  flex: 0 1 100%;
  background: #00A876;
  color: #fff;
  margin: 10px 40px;
  padding: 20px;
  text-align: left;
  overflow: hidden;
}
.timeline img{
  float: left;
  max-width: 180px;
  margin-right: 20px;
}
.timeline h4{
  margin-left:0;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
}
.timeline .fourth h4{
  font-size: 26px;
  text-align: center;
}
.timeline .fourth p{
  font-size: 26px;
  text-align: center;
}
@media (max-width: 991px) { 
  .timeline .content{
    text-align:center;
  }
  .timeline img{
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .timeline li{
    display: block;
  }
  .timeline .dot{
    display: none;
  }
  .timeline time{
    display: block;
    margin: 40px 0;
    text-align: left;
  }
  .timeline .content{
    margin:20px 0;
  }
  .timeline img{
    float: left;
    max-width: 180px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .timeline h4,
  .timeline p{
    text-align: left;
  }
}
@media (max-width: 575px) {
  .timeline time{
    text-align: center;
  }
  .timeline img{
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .timeline h4,
  .timeline p{
    text-align: center;
  } 
}
/** Stuff **/
#stuffCarousel{
  list-style: none;
  padding: 0;
  margin: 40px 0;
}
#stuffCarousel li{
  box-sizing: border-box;
  padding:10px 20px;
  outline:none;
}
#stuffCarousel img{
  width:100%;
  max-width: 200px;
  border-radius: 100%;
  margin: 30px auto;
}
#stuffCarousel h5{
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;  
}
#stuffCarousel h5:after{
  content: "";
  height: 2px;
  width: 30px;
  display:block;
  position: absolute;
  background: #00A876;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
#stuffCarousel p{
  font-size: 0.875rem;
}
#stuffCarousel .slick-prev{
  left:-50px;
}
#stuffCarousel .slick-next{
  right:-50px;
}
#stuffCarousel .slick-prev{
  left:-50px;
}
#stuffCarousel .slick-next{
  right:-50px;
}
#stuffCarousel .slick-prev, 
#stuffCarousel .slick-next{
  width: 40px;
  height: 40px;
  color: #eee;
}
#stuffCarousel .slick-prev:before, 
#stuffCarousel .slick-next:before{
  font-size:40px;
  color: #eee;
}
@media (max-width: 575px) {
  #stuffCarousel .slick-prev{
    left:-20px;
  }
  #stuffCarousel .slick-next{
    right:-20px;
  }
}
/** Gallery **/
#gallery{
  background: #eeeeee;
  display: block;
}
#gallery .item{
  max-width: 200px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  #gallery .item{
    max-width: 150px;
  }
}
@media (max-width: 575px) {
  #gallery .item{
    max-width: 100px;
  }
}
/** Ticket **/
#ticket{
  position:relative;
  background-image: url(../img/2ed/场地.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ticket:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  display: block;
  background: #000;
  opacity: 0.7;
  z-index: 0;
}
#ticket .section-title{
  color: #fff;
}
#ticket .container{
  z-index: 99;
}
.ticket{
  background: #fff;
  padding: 8px;
}
.ticket-inner{
  padding: 12px;
  border: 1px dashed #d8d8d8;
}
.ticket h4{
  margin:20px 0;
}
.ticket span{
  display:block;
  font-size: 4rem;
  line-height: 1;
  color: #00A876;
}
.ticket button{
  margin: 20px 0;
}